@model Product
@{
    ViewData["title"] = Model.Name;
    var userId = int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
}

<div class="row">
    <div class="col-12 col-md-6 p-2">
        <img src="@Model.Photo" class="img-thumbnail" id="product-image" />
        <div class="py-2 d-flex justify-content-center align-items-center flex-wrap">
            <img class="p-2 m-1 border thumb-image active" src="@Model.Photo" width="80" height="80" />
            @foreach (var productImage in Model.ProductImages)
            {
                <img class="p-2 m-1 border thumb-image" id="thumb-image" src="@productImage.Photo" width="80" height="80" />
            }
        </div>
    </div>
    <div class="col-12 col-md-6 p-2">
        @if (Model.BrandId != null)
        {
            <div class="text-right p-2">
                <img src="@Model.Brand.Photo" width="64" height="64" data-toggle="tooltip" title="@Model.Brand.Name" />
            </div>
        }
        <h4>@Model.Name</h4>

        @if (Model.Discount > 0)
        {

            <div class="d-flex align-content-center py-2">
                <div class="text-white bg-danger p-3 h3">
                    %@Model.Discount
                </div>
                <div class="flex-fill">
                    <div class="small text-secondary px-2">@Model.Price.ToString("c2")</div>
                    <div class="text-success h2 px-2">
                        @Model.DiscountedPrice.ToString("c2")
                    </div>
                </div>
            </div>

        }
        else
        {
            <div class="text-success h2 px-2">
                @Model.Price.ToString("c2")
            </div>
        }
        <div class="py-2">
            <form asp-controller="Account" asp-action="AddToCart" method="get" novalidate class="form-inline">
                <input type="hidden" name="Id" value="@Model.Id" />
                <button id="decrease" class="btn btn-outline-secondary" type="button">
                    <i class="fa fa-minus"></i>
                </button>
                <input id="quantity" name="Quantity" type="text" class="form-control text-center" style="width:46px" value="1" />
                <button id="increase" class="btn btn-outline-secondary" type="button">
                    <i class="fa fa-plus"></i>
                </button>
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-shopping-cart"></i> Sepete Ekle
                </button>
            </form>
        </div>
    </div>
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="descriptions-tab" data-toggle="tab" href="#descriptions" role="tab">
            <i class="fa fa-bars"></i> Ürün Özellikleri
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab">
            <i class="fa fa-comments"></i> Yorumlar <span class="badge badge-secondary">@Model.Comments.Where(p => p.Enabled || p.UserId == userId).Count().ToString("n0")</span>
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="cc-tab" data-toggle="tab" href="#cc" role="tab">
            <i class="fa fa-credit-card"></i> Taksit Seçenekleri
        </a>
    </li>
</ul>
<div class="tab-content border-left border-bottom border-right p-2" id="myTabContent">
    <div class="tab-pane fade show active" id="descriptions" role="tabpanel" aria-labelledby="home-tab">
        @Html.Raw(@Model.Summary)
    </div>
    <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="profile-tab">
        @if (User.Identity.IsAuthenticated)
        {
            <partial name="CreateCommentPartial" model="new Comment{ ProductId = Model.Id }" />
        }
        else
        {
            <div class="p-2 text-info">
                <i class="fa fa-info-circle"></i> Yorum eklemek için kullanıcı girişi yapınız...
            </div>
        }
        <hr />
        @foreach (var comment in Model.Comments.Where(p => p.Enabled || p.UserId == userId))
        {
            <div class="py-4 border-bottom p-4 mb-2 comment-box">
                <div class="text-secondary">
                    <i class="fa fa-user"></i> <b>@comment.User.Name</b>
                </div>
                <p class="text-secondary">
                    <i class="fa fa-calendar"></i> <i class="small">@comment.DateCreated.ToString()</i>
                </p>
                <p>@comment.Text</p>
                <p>
                    @for (int i = 1; i <= 5; i++)
                    {
                        if (i <= comment.Rate)
                        {
                            <i class="fas fa-star mr-2 text-warning"></i>
                        }
                        else
                        {
                            <i class="far fa-star mr-2 text-warning"></i>
                        }
                    }
                </p>
                <div class="d-flex">
                    <div class="mr-4 ml-auto">
                        <a class="btn btn-outline-info like-btn" data-id="@comment.Id" data-userId="@User.FindFirst(ClaimTypes.NameIdentifier).Value">
                            <i class="fa fa-thumbs-up"></i>
                            <span class="count">@comment.CommentLikes.Where(p => p.Like).Count()</span>
                        </a>
                    </div>
                    <div class="mr-4">
                        <a class="btn btn-outline-info dislike-btn" data-id="@comment.Id" data-userId="@User.FindFirst(ClaimTypes.NameIdentifier).Value">
                            <i class="fa fa-thumbs-down"></i>
                            <span class="count">@comment.CommentLikes.Where(p => !p.Like).Count()</span>
                        </a>
                    </div>

                </div>
            </div>
        }
    </div>
    <div class="tab-pane fade" id="cc" role="tabpanel" aria-labelledby="contact-tab">
        <table class="table table-bordered table-sm table-striped">
            <thead>
                <tr>
                    <th class="text-center" colspan="3">
                        <img src="~/content/images/axess.jpg" width="120" height="80" />
                    </th>
                    <th class="text-center" colspan="3">
                        <img src="~/content/images/bonus.png" width="120" height="80" />
                    </th>
                    <th class="text-center" colspan="3">
                        <img src="~/content/images/maximum.jpg" width="120" height="80" />
                    </th>
                    <th class="text-center" colspan="3">
                        <img src="~/content/images/world.jpg" width="120" height="80" />
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 2; i <= 12; i++)
                {
                    <tr>
                        @for (int k = 0; k < 4; k++)
                        {
                            <td>@i Taksit </td>
                            <td class="text-right text-monospace">@Model.MonthlyInstalment(.8m + i / 10m, i).ToString("c2")</td>
                            <td class="text-right text-monospace">@Model.InstalmentTotal(.8m + i / 10m).ToString("c2")</td>

                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/product.js" asp-append-version="true"></script>
}